# Raw data
data/raw/

# Large files
*.csv
*.parquet

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Virtual env
venv/
.venv/
.env/

# Local application state
.tmp/
.streamlit/
embedding_cache/

# Jupyter checkpoints
.ipynb_checkpoints/
